vusi;{SSHA256}LfcLZOEpxLeKv7K4Q6rsO7j8ZYH9i765yUkeP6tIIWIkJSJtZQr4lg==;admin
voni;{SSHA256}3VtcRBHahxcuq4kFqemyA2pLHkGLT3K4XZ6qyPSDvpomVunEHyif9w==;agent
Light;{SSHA256}3J/0sNpT0jyH0WCtrGnSjtoLRaw7YAenbYUXfMvrj3UrfhhdGq4M+A==;manager
Tosh;{SSHA256}2/uLYPHNqUaA87RN9+N5cYy7l7Sjp+OQD+yqygQpyZJDAb9SCGeMJg==;buyer
Peter;{SSHA256}k4ZcF75Oc+3jDGmrI4sbg+IApX8qlZyeBWPLYrmYhMGx0MNWV6lndw==;manager,buyer
