<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>Controller.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyServlet</servlet-name>
        <servlet-class>Controller.modifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeServlet</servlet-name>
        <servlet-class>Controller.removeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expensiveServlet</servlet-name>
        <servlet-class>Controller.expensiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyServlet</servlet-name>
        <url-pattern>/modifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeServlet</servlet-name>
        <url-pattern>/removeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expensiveServlet</servlet-name>
        <url-pattern>/expensiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/unauthoriseError.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description>Resources accessible to a manager</description>
            <url-pattern>/add.html</url-pattern>
            <url-pattern>/modify.html</url-pattern>
            <url-pattern>/remove.html</url-pattern>
            <url-pattern>/addServlet</url-pattern>
            <url-pattern>/modifyServlet</url-pattern>
            <url-pattern>/removeServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of manager</description>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>BuyerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>BuyerResources</web-resource-name>
            <description>Resources available to an Buyer</description>
            <url-pattern>/search.html</url-pattern>
            <url-pattern>/expensiveVehicle.html</url-pattern>
            <url-pattern>/searchServlet</url-pattern>
            <url-pattern>/expensiveServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of buyer</description>
            <role-name>buyer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A manager can add,remove and update vehicle</description>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <description>A buyer can search and check expensive car</description>
        <role-name>buyer</role-name>
    </security-role>
</web-app>
